<!--
   Copyright (C) Lightbend Inc. <https://www.lightbend.com>
-->

<!-- The default logback configuration that Play uses in dev mode if no other configuration is provided -->
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <logger name="play" level="INFO" />

    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />

    <logger name="play.api.http.HttpConfiguration" level="INFO" />
    <logger name="akka.actor.CoordinatedShutdown" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>